:root {
  --color-primary: #9B59B6;
  --color-primary-light: #a971c0;
  --color-primary-dark: #452452;
  --color-green: #2ECC71;
  --color-grey-dark-1: #2D3436;
  --color-grey-dark-2: #939ea2;
  --color-grey-light-1: #F5F5F5;
  --color-grey-light-2: #E5E5E5;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light: 0 1rem 2rem 0 rgba(0,0,0,.07);
  --border-radius-primary: 17px;
}