.achievement-wrapper {
  display: flex;
  padding: .9rem 0;
  border-bottom: 1px solid var(--color-grey-dark-2);

  // &:first-child {
  //   border-top: 1px solid var(--color-grey-dark-2);
  // }


}

.achievement-detail {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.achievement-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  margin-right: .8rem;
  flex-shrink: 0;
}

.achievement-text {
  font-size: 1.2rem;
}

.achievement-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.percentage {
  color: (var(--color-grey-dark-3));
}