.info-table-metacritic {
  display: inline-block;
  width: 8rem;
  color: var(--color-green);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: .4rem;
  margin-top: .7rem;
  border: 1px solid #2ECC71;
  border-radius: .2rem;
  background-color: var(--color-white);
}