@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import 'styles/resets/_resets.scss';
@import 'styles/components/_variables.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}